<% flash.each do |message_type, message_content| %>
<div class="ui <%= message_type %> message visible message">
       <i class="close icon"></i>
      <div class="header">
	    <%= message_content %>
     </div>
   </div>
<% end %>

